<footer class="footer">
  <small>
    Département de Physique - <a href="http://www.univ-ag.fr">Université des Antilles</a>
  </small>
  <nav>
    <ul class="nav navbar-nav pull-right">
      <li><%= link_to "Contacts", contacts_path %></li>
      <li><%= link_to "Aide", aide_path %></li>
    </ul>
  </nav>
</footer>
